<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565018705628-j7jcd6t3pms0sepfavv6oj6s1cmjib5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565018705628-j7jcd6t3pms0sepfavv6oj6s1cmjib5d</string>
	<key>API_KEY</key>
	<string>AIzaSyDLJPd0uTj1R3NJn1p3wuaNQIUt8Xrv5fE</string>
	<key>GCM_SENDER_ID</key>
	<string>565018705628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.readingTracker</string>
	<key>PROJECT_ID</key>
	<string>reading-tracker-596e7</string>
	<key>STORAGE_BUCKET</key>
	<string>reading-tracker-596e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565018705628:ios:9e93d0887b5c7b862a7e19</string>
</dict>
</plist>